body{
font-family:'Inter',sans-serif;
text-align:center;
padding:50px;
background:#fdf6e3;
}

.celebrate-btn{
padding:15px 30px;
font-size:20px;
background-color:#ff4081;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
margin-bottom:30px;
}

#wishContainer img{
max-width:300px;
margin-top:20px;
border-radius:15px;
}